@page
@using VendasPadaria.Pages.Venda
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<!--

        select de clientes
        select de produtos
        espaço quantidade
        adicionar 

        depois adiciona na tabela

        soma total 

        botao finalizar -> da o save
-->


<!-- Formulário que vai enviar a ação para o back-end -->
<form method="post">
    <h3>Selecione um Cliente</h3>
    <select asp-for="IdSelectedCliente" asp-items="Model.ClientesList" class="form-control">
        <option value="">Selecione um Cliente</option>
    </select>

    <h3>Selecione um Produto</h3>
    <select asp-for="IdSelectedProduto" asp-items="@(new SelectList(Model.ProdutosList, "Id", "Nome"))" class="form-control">
        <option value="">Selecione um Produto</option>
    </select>

    <!-- Input para a quantidade -->
    <h3>Informe a Quantidade</h3>
    <input asp-for="Quantidade" class="form-control" type="number" min="1" placeholder="Digite a quantidade" />

    <!-- Botão de adicionar -->
    <button type="submit" asp-page-handler="Adicionar" class="btn btn-primary mt-3">Adicionar</button>
</form>

<!-- Exibe uma mensagem de feedback ao usuário -->
@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <div class="alert alert-info mt-3">
        @Model.Mensagem
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Produto.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.preco)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

